<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ñoquis</title>
</head>
<body>
    <h1>Receta ñoquis:</h1><br>
    <img src="../img/receta-noquis.webp" alt="imagen de un plato de ñoquis" width="500" height="200">
    <p>Ingredientes:</p>
    <ul type="square">
        <li>1 kilo de papa.</li>
        <li>300 gr aprox de arina 0000.</li>
        <li>1 huevo.</li>
        <li>sal.</li>
        <li>Nuez moscada.</li>
    </ul>
    <p>Preparación:</p>
    <iframe width="500" height="200" src="https://www.youtube.com/embed/_nz6JzpyZ88" title="ÑOQUIS DE PAPA FÁCILES" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>Cocina las papas:</p>
    <ol type="1">
        <li>Lava 1 kg de papas con cáscara y hiérvelas hasta que estén tiernas.</li>
        <li>Pélalas y haz un puré mientras están calientes.</li>
    </ol>
    <p>Prepara la masa:</p>
    <ol type="3">
        <li>Agrega al puré 1 huevo, sal, pimienta y una pizca de nuez moscada.</li>
        <li>Incorpora 300 g de harina de a poco, amasando suavemente hasta que la masa esté suave pero no pegajosa.</li>
    </ol>
    <p>Forma los ñoquis:</p>
    <ol type="5">
        <li>Divide la masa en porciones, haz cilindros largos y corta en trozos pequeños.</li>
        <li>Pásalos por un tenedor para darles la forma tradicional.</li>
    </ol>
    <p>Cocina:</p>
    <ol type="7">
        <li>Hierve agua con sal y cocina los ñoquis en tandas. Cuando floten, están listos.</li>
    </ol>
    <p>Sirve:</p>
    <ol type="9">
        <li>Escúrrelos y sírvelos con tu salsa favorita.</li>

    </ol>
    


</body>
</html>

 
