#colorvioleta{
    color:blueviolet;
    font-size: 42px;
}
.colorpurpura{
    color:darkorchid;
    font-size: 30px;
}
.colorazulado{
    color:cornflowerblue;
    font-size:21px ;
}
.colorrojo{
    color: brown;
    font-size: 21px;
}
#colorrojiso{
    color:brown;
    font-size: 42px;
}

.colorazul{
    color:blue;
    font-size: 30px;
}
#colorazulado2{
    color:blue;
    font-size: 42px;
}